target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.pyc
/.metadata/
.properties
.log
stock_manager/datanucleus.log
.classpath
/bin/
*.log
*.log
*.sqlite3
stock_manager/.classpath
stock_manager/docs/apidocs/allclasses-frame.html
stock_manager/docs/apidocs/allclasses-noframe.html
stock_manager/docs/apidocs/constant-values.html
stock_manager/docs/apidocs/deprecated-list.html
stock_manager/docs/apidocs/es/deusto/spq/class-use/Main.html
stock_manager/docs/apidocs/es/deusto/spq/data/Articulo.Categoria.html
stock_manager/docs/apidocs/es/deusto/spq/data/Articulo.html
stock_manager/docs/apidocs/es/deusto/spq/data/Cesta.Estado.html
stock_manager/docs/apidocs/es/deusto/spq/data/Cesta.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Articulo.Categoria.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Articulo.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Cesta.Estado.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Cesta.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Cliente.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Opinion.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Usuario.html
stock_manager/docs/apidocs/es/deusto/spq/data/class-use/Vendedor.html
stock_manager/docs/apidocs/es/deusto/spq/data/Cliente.html
stock_manager/docs/apidocs/es/deusto/spq/data/Opinion.html
stock_manager/docs/apidocs/es/deusto/spq/data/package-frame.html
stock_manager/docs/apidocs/es/deusto/spq/data/package-summary.html
stock_manager/docs/apidocs/es/deusto/spq/data/package-tree.html
stock_manager/docs/apidocs/es/deusto/spq/data/package-use.html
stock_manager/docs/apidocs/es/deusto/spq/data/Usuario.html
stock_manager/docs/apidocs/es/deusto/spq/data/Vendedor.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/class-use/DAO.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/DAO.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/package-frame.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/package-summary.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/package-tree.html
stock_manager/docs/apidocs/es/deusto/spq/data_access/package-use.html
stock_manager/docs/apidocs/es/deusto/spq/Main.html
stock_manager/docs/apidocs/es/deusto/spq/package-frame.html
stock_manager/docs/apidocs/es/deusto/spq/package-summary.html
stock_manager/docs/apidocs/es/deusto/spq/package-tree.html
stock_manager/docs/apidocs/es/deusto/spq/package-use.html
stock_manager/docs/apidocs/es/deusto/spq/remote/API.html
stock_manager/docs/apidocs/es/deusto/spq/remote/class-use/API.html
stock_manager/docs/apidocs/es/deusto/spq/remote/package-frame.html
stock_manager/docs/apidocs/es/deusto/spq/remote/package-summary.html
stock_manager/docs/apidocs/es/deusto/spq/remote/package-tree.html
stock_manager/docs/apidocs/es/deusto/spq/remote/package-use.html
stock_manager/docs/apidocs/index-all.html
stock_manager/docs/apidocs/index.html
stock_manager/docs/apidocs/javadoc.bat
stock_manager/docs/apidocs/options
stock_manager/docs/apidocs/overview-frame.html
stock_manager/docs/apidocs/overview-summary.html
stock_manager/docs/apidocs/overview-tree.html
stock_manager/docs/apidocs/packages
stock_manager/docs/apidocs/serialized-form.html
