<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="es">
  
	{% block body %}

    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

<form method="POST">
	{% csrf_token %}
    <section class="ftco-section">
		<form action="#" class="billing-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-6">
						<div class="form-group">
							<label for="firstname">Nombre*</label>
						<input type="text" name="name" class="form-control" required placeholder="Fernando">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastname">Apellido*</label>
						<input type="text" name="surname" class="form-control" required placeholder="Alonso">
						</div>
					</div>
					<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="country">País / Estado*</label>
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="pais" name="country" required class="form-control">
										<option value="">Francia</option>
										<option value="">Italia</option>
										<option value="">Portugal</option>
										<option value="">España</option>
									</select>
								</div>
							</div>
						</div>

						<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
								<label for="streetaddress">Dirección*</label>
								<input type="text" name="address" required class="form-control" placeholder="Calle Gran vía">
								</div>
							</div>
						<div class="col-md-6">
							<div class="form-group">
						<input type="text" name="address2" required class="form-control" placeholder="Nº 4, 2B">
						</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
							<label for="towncity">Ciudad*</label>
						<input type="text" name="city" required class="form-control" placeholder="">
						</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="postcodezip">Código postal*</label>
						<input type="text" class="form-control" name="postal_code" required placeholder="49990">
						</div>
						</div>

						<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="phone">Teléfono*</label>
									<input type="text" required class="form-control" placeholder="666 777 888">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="emailaddress">Email</label>
									<input type="text" class="form-control" placeholder="ejemplo@ejemplo.es">
								</div>
							</div>

					{% comment %} <div class="col-md-6">
						<div class="form-group">
							<label for="firstname">Firt Name</label>
						<input type="text" class="form-control" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastname">Last Name</label>
						<input type="text" class="form-control" placeholder="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="emailaddress">Caducidad</label>
							<input type="text" class="form-control" placeholder="MM / YY">
						</div>
					</div> {% endcomment %}
						
						{% comment %} <div class="form-group mt-4">
											<div class="radio">
											<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
											<label><input type="radio" name="optradio"> Ship to different address</label>
											</div>
										</div> {% endcomment %}
					
					
				</div>
				</div>
						
						
				<div class="col-xl-5">
				<div class="row mt-5 pt-3">
					<div class="col-md-12 d-flex mb-5">
						<div class="cart-detail cart-total p-3 p-md-4">
							<h3 class="billing-heading mb-4">Cart Total</h3>
							<p class="d-flex">
										<span>Subtotal</span>
										<span>{{ total }}€</span>
									</p>
									{% comment %} <p class="d-flex">
										<span>Delivery</span>
										<span>$0.00</span>
									</p>
									<p class="d-flex">
										<span>Discount</span>
										<span>$3.00</span>
									</p> {% endcomment %}
									<hr>
									<p class="d-flex total-price">
										<span>Total</span>
										<span>{{ total }}€</span>
									</p>
									</div>
					</div>
					<div class="col-md-12">
						<div class="cart-detail p-3 p-md-4">
							<h3 class="billing-heading mb-4">Método de pago:</h3>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
												<label><input type="radio" name="optradio" class="mr-2" required> Direct Bank Tranfer</label>
												</div>
											</div>
										</div>
										{% comment %} <div class="form-group">
											<div class="col-md-12">
												<div class="radio">
												<label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
												<label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
												</div>
											</div>
										</div> {% endcomment %}
										<div class="form-group">
											<div class="col-md-12">
												<div class="checkbox">
												<label><input type="checkbox" value="" required class="mr-2">He leido y acepto los terminos y condiciones.</label>
												</div>
											</div>
										</div>
										<p><input type="submit" value="Confirmar Compra" class="btn btn-primary py-3 px-5"> </p>
									</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
	  </form><!-- END -->

    </section>
    </form>
 {% endblock %} 

  {% comment %} <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
 {% endcomment %}

{% block script %}

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    {% endblock %}
</html>