<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="es">


	{% block body %}

        <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Perfil</a></span></p>
                <h1 class="mb-0 bread">Iniciar Sesion</h1>
            </div>
            </div>
        </div>
        </div>
        <section class="ftco-section contact-section bg-light">
        <div class="container">
        
ibail@gmail.com
                <form method="POST">
                {% csrf_token %}
                <p>¿No tienes una cuenta aún?<a href="/user/register"> Resgistrate </a></p>
                    <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                    <input type="submit" value="Iniciar Sesion" class="btn btn-primary py-3 px-5"> 
                    </div>
                    
                </form>
                
        </div>

            <div class="col-md-6 d-flex">
            <div id="map" class="bg-white"></div>
            </div>
        </section>

        
	{% endblock %}
</html>