<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="es">
	

	{% block body %}


    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/index/">Tienda</a></span> <span>Productos</span></p>
            <h1 class="mb-0 bread">Productos</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">All</a></li>
    					<li><a href="#">Vegetables</a></li>
    					<li><a href="#">Fruits</a></li>
    					<li><a href="#">Juice</a></li>
    					<li><a href="#">Dried</a></li>
    				</ul>
    			</div>
    		</div> 

			<div class="row" id="ALL" >
    			{% for articulo in articulos %}
				<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/article/{{articulo.id}}" class="img-prod"><img class="img-fluid" src="{{articulo.imageUrl}}"  style="height: 250px; width: 100%;  margin-left: auto; margin-right: auto;" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="/article/{{articulo.id}}">{{articulo.nombre}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
									<p class="price"> {% if articulo.oferta <  articulo.precio %} <span class="mr-2 price-dc">{{articulo.precio}}€</span> {% endif %}<span class="price-sale">{{ articulo.oferta}}€</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							{% comment %} <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
									</a> {% endcomment %}

								<form method="POST">
								{% csrf_token %}
									<button class="buy-now d-flex justify-content-center align-items-center mx-1" value="{{ articulo.id }}" name="anyadir" type="submit"><i class="ion-ios-cart"></i> </button> 
								</form>
	    							{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span> 
	    							</a>{% endcomment %}
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		</div>

			<div class="row" id="FRUTAS" style="display: none;" >
    			{% for articulo in articulos %}
					{% if articulo.categoria == "FRUTAS" %}	
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product">
								<a href="/article/{{articulo.id}}" class="img-prod"><img class="img-fluid" src="{{articulo.imageUrl}}"  style="height: 250px; width: 100%;  margin-left: auto; margin-right: auto;" alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="/article/{{articulo.id}}">{{articulo.nombre}}</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"> {% if articulo.oferta <  articulo.precio %} <span class="mr-2 price-dc">{{articulo.precio}}€</span> {% endif %}<span class="price-sale">{{ articulo.oferta}}€</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											{% comment %} <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
												<span><i class="ion-ios-menu"></i></span>
											</a> {% endcomment %}

										<form method="POST">
										{% csrf_token %}
											<button class="buy-now d-flex justify-content-center align-items-center mx-1" value="{{ articulo.id }}" name="anyadir" type="submit"><i class="ion-ios-cart"></i> </button> 
										</form>
											{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
												<span><i class="ion-ios-heart"></i></span> 
											</a>{% endcomment %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
    		</div>

			<div class="row" id="FRUTOSSECOS" style="display: none;">
    			{% for articulo in articulos %}
					{% if articulo.categoria == "FRUTOSSECOS" %}	
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product">
								<a href="/article/{{articulo.id}}" class="img-prod"><img class="img-fluid" src="{{articulo.imageUrl}}"  style="height: 250px; width: 100%;  margin-left: auto; margin-right: auto;" alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="/article/{{articulo.id}}">{{articulo.nombre}}</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"> {% if articulo.oferta <  articulo.precio %} <span class="mr-2 price-dc">{{articulo.precio}}€</span> {% endif %}<span class="price-sale">{{ articulo.oferta}}€</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											{% comment %} <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
												<span><i class="ion-ios-menu"></i></span>
											</a> {% endcomment %}

										<form method="POST">
										{% csrf_token %}
											<button class="buy-now d-flex justify-content-center align-items-center mx-1" value="{{ articulo.id }}" name="anyadir" type="submit"><i class="ion-ios-cart"></i> </button> 
										</form>
											{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
												<span><i class="ion-ios-heart"></i></span> 
											</a>{% endcomment %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
    		</div>

			<div class="row" id="VERDURAS" style="display: none;">
    			{% for articulo in articulos %}
					{% if articulo.categoria == "VERDURAS" %}	
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product">
								<a href="/article/{{articulo.id}}" class="img-prod"><img class="img-fluid" src="{{articulo.imageUrl}}"  style="height: 250px; width: 100%;  margin-left: auto; margin-right: auto;" alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="/article/{{articulo.id}}">{{articulo.nombre}}</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"> {% if articulo.oferta <  articulo.precio %} <span class="mr-2 price-dc">{{articulo.precio}}€</span> {% endif %}<span class="price-sale">{{ articulo.oferta}}€</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											{% comment %} <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
												<span><i class="ion-ios-menu"></i></span>
											</a> {% endcomment %}

										<form method="POST">
										{% csrf_token %}
											<button class="buy-now d-flex justify-content-center align-items-center mx-1" value="{{ articulo.id }}" name="anyadir" type="submit"><i class="ion-ios-cart"></i> </button> 
										</form>
											{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
												<span><i class="ion-ios-heart"></i></span> 
											</a>{% endcomment %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
    		</div>

			<div class="row" id="ZUMOS" style="display: none;">
    			{% for articulo in articulos %}
					{% if articulo.categoria == "ZUMOS" %}	
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product">
								<a href="/article/{{articulo.id}}" class="img-prod"><img class="img-fluid" src="{{articulo.imageUrl}}"  style="height: 250px; width: 100%;  margin-left: auto; margin-right: auto;" alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="/article/{{articulo.id}}">{{articulo.nombre}}</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"> {% if articulo.oferta <  articulo.precio %} <span class="mr-2 price-dc">{{articulo.precio}}€</span> {% endif %}<span class="price-sale">{{ articulo.oferta}}€</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											{% comment %} <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
												<span><i class="ion-ios-menu"></i></span>
											</a> {% endcomment %}

										<form method="POST">
										{% csrf_token %}
											<button class="buy-now d-flex justify-content-center align-items-center mx-1" value="{{ articulo.id }}" name="anyadir" type="submit"><i class="ion-ios-cart"></i> </button> 
										</form>
											{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
												<span><i class="ion-ios-heart"></i></span> 
											</a>{% endcomment %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
    		</div>

    		{% comment %} <div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
					<ul>
						<li><a href="#">&lt;</a></li>
						<li class="active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&gt;</a></li>
					</ul>
					</div>
				</div>
        	</div> {% endcomment %}
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

	{% endblock %}
	
</html>